{% extends 'layout/app_admin.html' %}

{% load static %}
{% block stylesheet %}
<style>
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -.75rem 0;
        border: solid #dee2e6;
        border-width: 1px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">編輯活動</h1>
    <ol class="breadcrumb mb-4">
        <!-- <li class="breadcrumb-item"><a href="/">Dashboard</a></li> -->
        <li class="breadcrumb-item active">Edit Activity</li>
    </ol>
    <div class="bd-example">
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
        <form action="{% url 'activity_update' activity_id=activity.id %}" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" id="inputFirstName" type="text" name="name" placeholder="活動名稱"
                            value="{{form.name.value}}" />
                        <label for="inputFirstName">活動名稱</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="datetime-local" name="activity_start_time"
                            value="{{form.activity_start_time.value| date:'Y-m-d\TH:i'}}" id="dateInput">
                        <label for="dateInput">活動開始時間{{form.activity_start_time.value}}</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" type="datetime-local" name="activity_end_time"
                            value="{{form.activity_end_time.value| date:'Y-m-d\TH:i'}}" id="dateInput">
                        <label for="dateInput">活動結束時間</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-floating mb-3 mb-md-0">
                        <input class="form-control" type="datetime-local" name="sign_up_start_time"
                            value="{{form.sign_up_start_time.value | date:'Y-m-d\TH:i'}}" id="dateInput">
                        <label for="dateInput">報名開始時間</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" type="datetime-local" name="sign_up_end_time"
                            value="{{form.sign_up_end_time.value | date:'Y-m-d\TH:i'}}" id="dateInput">
                        <label for="dateInput">報名結束時間</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" type="datetime-local" name="score_open_time"
                            value="{{form.score_open_time.value | date:'Y-m-d\TH:i'}}" id="dateInput">
                        <label for="dateInput">成績公布時間</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-0">
                <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}