<div class="row mb-3">
    <div class="col">
        <div class="form-floating mb-3 mb-md-0">
            <input class="form-control" id="inputFirstName" type="text" name="name" placeholder="活動名稱"
                value="{{form.name.value}}" />
            <label for="inputFirstName">活動名稱</label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-floating mb-3 mb-md-0">
            <input class="form-control" type="datetime-local" name="activity_start_time"
                value="{{form.activity_start_time.value}}" id="dateInput">
            <label for="dateInput">活動開始時間</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="datetime-local" name="activity_end_time"
                value="{{form.activity_end_time.value}}" id="dateInput">
            <label for="dateInput">活動結束時間</label>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="form-floating mb-3 mb-md-0">
            <input class="form-control" type="datetime-local" name="sign_up_start_time"
                value="{{form.sign_up_start_time.value}}" id="dateInput">
            <label for="dateInput">報名開始時間</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="datetime-local" name="sign_up_end_time" value="{{now}}"
                id="dateInput">
            <label for="dateInput">報名結束時間</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input class="form-control" type="datetime-local" name="score_open_time" value="{{now}}"
                id="dateInput">
            <label for="dateInput">成績公布時間</label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="form-floating">
            {{form.score_label}}
            <label for="dateInput">分數欄位標籤</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input class="form-control" id="inputFirstScore" type="number" name="score" placeholder="活動名稱"
                value="{{form.score_min.value}}" />
            <label for="inputFirstScore">分數最低標準</label>
        </div>
    </div>
</div>