{% extends 'layout/app_admin.html' %}

{% load static %}
{% block stylesheet %}
<style>
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .bd-example {
        position: relative;
        padding: 1rem;
        margin: 1rem -.75rem 0;
        border: solid #dee2e6;
        border-width: 1px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">新增成績標籤</h1>
    <ol class="breadcrumb mb-4">
        
        <li class="breadcrumb-item active">Add Score Label</li>
    </ol>
    <div class="bd-example">
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
        <form action="{% url 'score_label_create' %}" method="POST">
            {% csrf_token %}
            {% include 'elements/score_label_form.html' %}
            <button class="btn btn-primary" type="submit">新增</button>
        </form>
    </div>
</div>
{% endblock %}