{% extends 'layout/app_admin.html' %}

{% load static %}
{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">{{title}}</h1>
    <ol class="breadcrumb mb-4">
        <!-- <li class="breadcrumb-item"><a href="/">Dashboard</a></li> -->
        <li class="breadcrumb-item active">User Management</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            活動列表
        </div>
        <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>活動名稱</th>
                        <th>活動開始時間</th>
                        <th>活動結束時間</th>
                        <th>報名開始時間</th>
                        <th>報名結束時間</th>

                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.activity_start_time }}</td>
                        <td>{{ activity.activity_end_time }}</td>
                        <td>{{ activity.sign_up_start_time }}</td>
                        <td>{{ activity.sign_up_end_time }}</td>

                        <td>
                            {% if view_url_name == 'student_list' %}
                            <a class="btn btn-sm btn-warning" href="{% url 'student_list' activity_id=activity.id %}">
                                <span class="fa fa-eye"></span> 選擇</a>
                            {% else %}
                            <a class="btn btn-sm btn-warning" href="{% url 'score_list' activity_id=activity.id %}">
                                <span class="fa fa-eye"></span> 選擇</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}