<div class="col">
    <div class="form-floating">
        <input class="form-control" id="inputlabel1" type="text" name="label1" placeholder="分數標籤1"
            value="{{form.label1.value}}" />
        <label for="inputFirstLabel1">分數標籤1</label>
    </div>
</div>
<div class="col">
    <div class="form-floating">
        <input class="form-control" id="inputlabel2" type="text" name="label2" placeholder="分數標籤2"
            value="{{form.label2.value}}" />
        <label for="inputFirstLabel2">分數標籤2</label>
    </div>
</div>
<div class="col">
    <div class="form-floating">
        <input class="form-control" id="inputlabel3" type="text" name="label3" placeholder="分數標籤3"
            value="{{form.label3.value}}" />
        <label for="inputFirstLabel3">分數標籤3</label>
    </div>
</div>