{% extends 'layout/app_student.html' %}

{% load static %}
{% block body %}
  <div class="container-fluid px-4">
    <h1 class="mt-4">國立臺北商業大學<br>退除役官兵系統</h1>

    {% comment %} <div style="display: flex;">
      <a class="btn btn-sm btn-success" href="{% url 'register' %}" style="padding: 8px; float: right; background-color: green; color: white;">註冊</a>

      <a class="btn btn-sm btn-success" href="{% url 'activity_list' %}" style="padding: 8px; float: right; background-color: green; color: white;">登入</a>
    </div> {% endcomment %}

    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      招生表單
    </div>
    <table id="datatablesSimple" class="rwd-table">
      <thead>
        <tr>
          <th>狀態</th>
          <th>活動名稱</th>
          <th>開始報名時間</th>
          <th>結束報名時間</th>
          <th>結束報名表繳交時間</th>
          <th>成績公布時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- for activity loop -->
        {% for activity in activities %}
          <tr>
            <td data-th="狀態">{{activity.get_status}}</td>
            <td data-th="活動名稱">{{ activity.name }}</td>
            <td data-th="開始報名時間">{{ activity.sign_up_start_time }}</td>
            <td data-th="結束報名時間">{{ activity.sign_up_end_time }}</td>
            <td data-th="結束報名表繳交時間">{{ activity.sign_up_end_time }}</td>
            <td data-th="成績公布時間">{{ activity.score_open_time }}</td>
            <td id="no-width">
              {% if activity in request.user.student.activity.all %}
                <button class="btn btn-bg col-sm-5 col-12 btn-success mt-1"  onclick="printData('{% url 'student_print_sign_up' activity.id %}')">
                  <div class="spinner-border spinner-border-sm float-left" style="display: none;" role="status" id="spinner-sign-up" >
                  </div>列印報名表</button>
                {% if activity.is_score_open %}
                <button class="btn btn-bg col-sm-5 col-12 btn-success mt-1" onclick="printData('{% url 'student_print_score' activity.id %}')">
                  <div class="spinner-border spinner-border-sm float-left" style="display: none;" role="status" id="spinner-score" >
                  </div>
                  查看成績</button>
                  {% else %}
                  <button class="btn btn-bg col-sm-5 col-12 btn-secondary mt-1" disabled>
                    <div class="spinner-border spinner-border-sm float-left" style="display: none;" role="status" id="spinner-score" >
                    </div>
                    查看成績</button>
                  {% endif %}
              {% else %}
              {% if activity.is_sign_up_open %}
                  <a class="btn btn-bg col-12 btn-success" href="{% url 'student_join' activity.id %}">報名活動</a>
              {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
  <script>
    function printData(url){
      url = url.toString();
      $.ajax({
        url: url,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        method: 'POST',
        xhrFields: {
          responseType: 'blob' // 设置响应类型为二进制流
      },
        success: function (data) {
          CallMessage("下載PDF成功!","success");
          if(url.includes("sign_up")){
            $("#spinner-sign-up").hide();
          }else{
            $("#spinner-score").hide();
          }
          // data is PDF  
          const blob = new Blob([data], { type: 'application/pdf' });

            // 创建 Blob 对象的 URL
            const blobUrl = window.URL.createObjectURL(blob);

            // 创建下载链接
            const downloadLink = document.createElement('a');
            downloadLink.href = blobUrl;
            if(url.includes("sign_up")){
              downloadLink.download = '報名表.pdf';
            }else{
              downloadLink.download = '成績表.pdf';
            }
            // 模拟用户点击下载链接
            document.body.appendChild(downloadLink);
            downloadLink.click();

            // 移除下载链接和 Blob URL
            document.body.removeChild(downloadLink);
            window.URL.revokeObjectURL(blobUrl);
            
        },
        error: function (data) {
          CallMessage("下載PDF失敗!","error");
        },
        beforeSend: function(){
          // Show image container
          console.log(url);
          if(url.includes("sign_up")){
            $("#spinner-sign-up").show();
          }else{
            $("#spinner-score").show();
          }
          
        },
    });
  }
  </script>
{% endblock %}
