{% extends 'layout/app_student.html' %}

{% load static %}
{% block stylesheet %}
  <style>
    .col-md-6 {
      padding: 7px;
    }
  </style>
{% endblock %}
{% block body %}
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                  <h3 class="text-right font-weight-bold">填寫註冊資料</h3>
                </div>
                {% comment %} userform {% endcomment %}
                {% for field in user_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                  欄位：{{ field.label }}<br>
                  —{{ error }}
                </div>
                {% endfor %}
                {% endfor %}
        
                <div class="card-body">
                  <form method="post" class="needs-validation" action="{% url 'register' %}" enctype="multipart/form-data" id="registerForm" name="registerForm" novalidate>
                    {% csrf_token %}
                    <h3 class="text-right font-weight-bold mt-4">基本資料</h3>
                    <div class="form-group">
                      {{ user_form.email.label }}
                      {{ user_form.email }}
                      {{ user_form.password.label }}
                      {{ user_form.password }}
                      {{ user_form.password2.label }}
                      {{ user_form.password2 }}
                      <ul>
                        <li>至少需要有 8 個字符。</li>
                        <li>不能全部由數字組成。</li>
                    </ul>
                    </div>
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">註冊</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <a href="{% url 'student_login' %}">已經有帳號了嗎?點我登入</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
{% endblock %}
